h1 {
	font-size: 35px;
	font-weight: 600;
}
.popup {
	display: none;
}
.popup #feedback {
	min-width: 1000px;
}
.popup #feedback .content {
	padding: 0;
}
.popup #feedback .content button {
	margin-left: 250px;
}