/*common*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
body, input, button {
    color: #212121;
    font-family: 'Open Sans', sans-serif;
}
input, button {
    outline: none;
    border: none;
}
button, a.btn {
    cursor: pointer;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    border-radius: 2px;
}
button:active, a.btn:active {
    padding-right: 1px;
}
.content {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.content h2 {
    font-size: 30px;
    font-weight: 600;
}
.bg-full-width {
    min-width: 1200px;
}
.pos-center {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.spacer {
    text-align: justify;
}
/*.spacer.left-based {
    text-align: left;
}*/
.spacer.left-based:after {
    display: none;
}
.spacer.left-based .item {
    margin-right: 25px;
}
.spacer.left-based .item:nth-child(4n) {
    margin-right: 0;
}
.spacer > * {
    display: inline-block;
}
.spacer:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
}
/*end common*/

/*icons*/
.icon {
    background: url('../images/icons-sprite.png') no-repeat;
    display: inline-block;
}
.ico-select-blue, .ico-select-gray {
    width: 11px;
    height: 7px;
}
.ico-select-blue.open {
    background-position: 0 -7px;
}
.ico-del {
    width: 5px;
    height: 5px;
    background-position: 0 -36px;
}
.ico-search {
    width: 22px;
    height: 22px;
    background-position: 0 -14px;
}
.ico-select-gray {
    background-position: 0 -41px;
}
.ico-select-gray.open {
    background-position: 0 -48px;
}
.ico-star-wht-slt, .ico-star-wht,
.ico-star-org-slt, .ico-star-org {
    width: 16px;
    height: 15px;
}
.ico-star-wht-slt {
    background-position: 0 -55px;
}
.ico-star-wht {
    background-position: 0 -70px;
}
.ico-service-white, .ico-service-blue {
    width: 12px;
    height: 12px;
}
.ico-mark-white, .ico-mark-blue {
    width: 9px;
    height: 12px;
}
.ico-price-white, .ico-price-blue {
    width: 12px;
    height: 12px;
}
.ico-service-white {
    background-position: 0 -85px;
}
.ico-mark-white {
    background-position: 0 -97px;
}
.ico-price-white {
    background-position: 0 -109px;
}
.ico-star-org-slt {
    background-position: 0 -121px;
}
.ico-star-org {
    background-position: 0 -136px;
}
.ico-service-blue {
    background-position: 0 -151px;
}
.ico-mark-blue {
    background-position: 0 -163px;
}
.ico-price-blue {
    background-position: 0 -175px;
}
.ico-facebook {
    width: 8px;
    height: 16px;
    background-position: 0 -187px;
}
.ico-twitter {
    width: 16px;
    height: 13px;
    background-position: 0 -203px;
}
.ico-ok {
    width: 10px;
    height: 16px;
    background-position: 0 -216px;
}
.ico-vk {
    width: 19px;
    height: 11px;
    background-position: 0 -232px;
}
.ico-favorites {
    width: 16px;
    height: 15px;
    background-position: 0 -243px;
}
.ico-facebook-bg,
.ico-vk-bg,
.ico-twitter-bg,
.ico-google-bg {
    width: 20px;
    height: 20px;
}
.ico-facebook-bg {
    background-position: 0 -258px;
}
.ico-vk-bg {
    background-position: 0 -278px;
}
.ico-twitter-bg {
    background-position: 0 -298px;
}
.ico-google-bg {
    background-position: 0 -318px;
}
.ico-close {
    width: 10px;
    height: 2px;
    background-position: 0 -338px;
}
.ico-open {
    width: 10px;
    height: 10px;
    background-position: 0 -340px;
}
.ico-play {
    width: 22px;
    height: 27px;
    background-position: 0 -350px;
}
.ico-plus-white {
    width: 10px;
    height: 10px;
    background-position: 0 -377px;
}
.ico-minus-white {
    width: 10px;
    height: 2px;
    background-position: 0 -381px;
}
/*end icons*/

/*nav*/
.nav {
    padding-top: 13px;
    height: 67px;
    background: #eef5f7;
}
.nav.bg-full-width ul.spacer { text-align:left; }
.nav.bg-full-width ul.spacer li a { padding:0 10px; display: inline-block; }
.nav .content {
    height: 54px;
    position: relative;
}
.nav .content > * {
    display: inline-block;
    vertical-align: bottom;
}
.nav a:hover {
    text-decoration: underline;
}
.nav .logo {
    padding-bottom: 2px;
}
.nav ul {
    width: 425px;
    height: 20px;
    line-height: 20px;
    margin: 0 125px 0 140px;
}
.nav ul li a {
    color: #212121;
    font-size: 15px;
    text-decoration: none;
}
.nav .language {
    padding-right: 20px;
    position: relative;
    padding-bottom: 2px;
}
.nav .language:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 10px;
    background: #7f7f7f;
    width: 1px;
}
.nav .language span {
    font-size: 14px;
    cursor: pointer;
    color: #a8a8a8;
}
.nav .language a{
	font-size: 14px;
	cursor: pointer;
	color: #16add4;
}
.nav .language span:hover {
    text-decoration: underline;
}
.nav .language span.active {
    color: #212121;
}
.nav .language span:first-child {
    margin-right: 10px;
}
.nav .authorization {
    color: #212121;
    font-size: 16px;
    margin: 0 20px;
    padding-bottom: 2px;
    text-decoration: none;
}
.nav .registration {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    width: 150px;
    color: #ffffff;
    height: 30px;
    background: #19a4c8;
}
.nav .registration:hover {
    background: #10819e;
}
/*end nav*/

/*page-title*/
.page-title {
    padding-top:40px;
}
.page-title strong {
    font-size: 35px;
    font-weight: 600;
}
.page-title .count {
    float: right;
    font-size: 20px;
    font-weight: 300;
    color: #7f7f7f;
    line-height:35px;
}
/*end page-title*/

/*filter*/
.filter {
    padding: 68px 0 60px;
    background: #16add4;
    /*overflow: hidden;*/
}
.filter .service,
.filter .city,
.filter .search {
    float: left;
    width: 370px;
}
.filter .service,
.filter .city {
    margin-right: 10px;
}
.filter .select-list {
    height: 40px;
    position: relative;
    line-height: 40px;
    width: 100%;
    background: #ffffff;
    color: #16add4;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 18px;
}
.filter .select-list .selected {
    padding-left: 20px;
}
.filter .select-list i {
    top: 17px;
    right: 17px;
    position: absolute;
}
.filter .service .selected-services p,
.filter .city .selected-cities p {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    color: #ffffff;
    text-decoration: underline;
}
.filter .service .selected-services p:last-child,
.filter .city .selected-cities p:last-child {
    margin-right: 0;
}
.filter .service .selected-services p i,
.filter .city .selected-cities p i {
    margin: 0 0 7px 4px;
    cursor: pointer;
}
.filter .search input {
    display: block;
    height: 36px;
    padding-left: 19px;
    border: 1px solid #ffffff;
    font-size: 16px;
    color: #ffffff;
    background: none;
    width: 499px;
}
.filter .search {
    width:auto;
    float:right;
}
.filter .search input:-moz-placeholder {
    color: #ffffff;
}
.filter .search input::-webkit-input-placeholder {
    color: #ffffff;
}
.filter .search-btn {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    border-radius: 2px;
    margin-left:10px;
}
.filter .service {
    width:430px;
}
.filter .search-btn:hover {
    background: #eeebeb;
}
/*end filter*/

/*main sort*/
.main {
    margin-top: 53px;
    padding-bottom: 160px;
}
.sort {
    margin-bottom: 37px;
}
.sort > * {
    vertical-align: middle;
}
/*.sort .select-list {
    width: 368px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #a8a8a8;
    position: relative;
    cursor: pointer;
    margin-right: 40px;
}
.sort .select-list i {
    position: absolute;
    top: 17px;
    right: 17px;
}
.sort .select-list .selected {
    padding-left: 19px;
    font-size: 16px;
    color: #505050;
}*/
.sort .select {
    width: 368px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #a8a8a8;
    position: relative;
    cursor: pointer;
    margin-right: 40px;
}
.sort .select .text {
    padding-left:19px;
    font-size:16px;
    color:#505050;
}
.sort .select .trigger i {
    display:block;
    background: url('../images/icons-sprite.png') no-repeat 0 -41px;
    width: 11px;
    height: 7px;
    position:absolute;
    top:17px;
    right:17px;
}
.sort .dropdown {
    width:368px;
    background:#fff;
    border:1px solid #a8a8a8;
}
.sort .dropdown ul li {
    line-height:38px;
    border-bottom:1px solid #a8a8a8;
    padding-left:19px;
    cursor:pointer;
}
.sort .dropdown ul li:last-child {
    border:none;
}
.sort .dropdown ul li:hover {
    text-decoration:underline;
}

.view-type li,
.view-number li {
    display: inline-block;
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
}
.view-type li:hover,
.view-number li:hover {
    text-decoration: underline;
}
.view-type li:after,
.view-number li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    height: 12px;
    width: 1px;
    background: #7f7f7f;
}
.view-type li:last-child:after,
.view-number li:last-child:after,
.view-number li:first-child:after {
    #display: none;
}
.view-type li.active,
.view-number li.active {
    color: #16add4;
}
.view-type li span {
    display:inline-block;
    vertical-align:top;
    width:12px;
    height:16px;
    background-position:center;
    background-repeat:no-repeat;
    margin-right:10px;
}
.view-type li.i1 span {
    background-image:url(../images/sort-icon-gray-1.png);
}
.view-type li.i2 span {
    background-image:url(../images/sort-icon-gray-2.png);
}
.view-type li.i3 span {
    background-image:url(../images/sort-icon-gray-3.png);
}
.view-type li.i1.active span {
    background-image:url(../images/sort-icon-blue-1.png);
}
.view-type li.i2.active span {
    background-image:url(../images/sort-icon-blue-2.png);
}
.view-type li.i3.active span {
    background-image:url(../images/sort-icon-blue-3.png);
}
/*end main sort*/

/*clinics-listing*/
.clinics-listing .item-vip {
    width: 100%;
    height: 350px;
    margin-bottom: 53px;
    position: relative;
}
.clinics-listing .item-vip img {
    position: absolute;
    top: 0;
    left: 0;
}
.clinics-listing .item-vip .item-content {
    background: rgba(22, 173, 212, 0.65);
    width: 400px;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 30px 50px 0 30px;
    color: #ffffff;
}
.clinics-listing .item-vip .item-name, .top-box .item-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}
.clinics-listing .item-vip i,
.clinics-listing .item-vip span,
.top-box .item-vip i,
.top-box .item-vip span {
    vertical-align: middle;
}
.clinics-listing .item-vip .item-raring,
.top-box .item-raring {
    margin-bottom: 20px;
}
.clinics-listing .item-vip .item-service,
.clinics-listing .item-vip .item-city,
.clinics-listing .item-vip .item-price,
.top-box .item-service,
.top-box .item-city,
.top-box .item-price {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 9px;
}
.clinics-listing .item-vip .item-service i,
.top-box .item-service i {
    margin-right: 12px;
}
.clinics-listing .item-vip .item-city i,
.top-box .item-city i {
    margin-right: 14px;
}
.clinics-listing .item-vip .item-price i,
.top-box .item-price i {
    margin-right: 12px;
}
.clinics-listing .item-vip .item-desc {
    margin-top: 20px;
    line-height: 120%;
    font-size: 14px;
    font-style: italic;
}
a.btn {
    display:block;
}
.clinics-listing .item-vip a.btn,
.top-box .box a.btn {
    background: none;
    width: 148px;
    height: 28px;
    border: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
    margin-top: 47px;
    line-height:28px;
    text-decoration:none;
    text-align:center;
}
.clinics-listing .item-vip a.btn:hover,
.top-box .box a.btn:hover {
    background: rgba(0, 0, 0, 0.1);
}
.clinics-listing .howto-get-vip {
    font-size: 12px;
    color: #a8a8a8;
    text-align: right;
    display: block;
    line-height: 28px;
    margin-top: -53px;
    margin-bottom: 25px;
}
.clinics-listing .howto-get-vip a {
    color: #a8a8a8;
}
.clinics-listing .howto-get-vip a:hover {
    text-decoration: underline;
}
.clinics-listing .item {
    width: 270px;
    margin-bottom: 53px;
	display: block;
	float: left;
	min-height: 442px;
	position: relative;
}
.clinics-listing .spacer { clear:both; text-align: left; }
.clinics-listing .item .item-name {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 5px;
	color:#000;
	text-decoration: none;
    display: block;
}
.clinics-listing .item .item-raring {
    margin-bottom: 15px;
}
.clinics-listing .item i,
.clinics-listing .item span {
    vertical-align: middle;
}
.clinics-listing .item .item-service,
.clinics-listing .item .item-city,
.clinics-listing .item .item-price {
    font-size: 14px;
    color: #505050;
    margin-bottom: 9px;
}
.clinics-listing .item .item-service i {
    margin-right: 12px;
}
.clinics-listing .item .item-city i {
    margin-right: 14px;
}
.clinics-listing .item .item-price i {
    margin-right: 12px;
}
.clinics-listing .item .item-desc {
    text-align: left;
    font-size: 14px;
    color: #505050;
    line-height: 125%;
}
.clinics-listing .item a.btn {
    margin-top: 15px;
    width: 148px;
    height: 28px;
    background: none;
    color: #16add4;
    font-size: 14px;
    border: 1px solid #16add4;
    line-height:28px;
    text-align:center;
    text-decoration:none;
}
.clinics-listing .item a.btn:hover {
    background: #16add4;
    color: #fff;
}
/*end clinics-listing*/

/*main-footer*/
.main-footer {
    margin-top: 32px;
	clear:both;
}
.main-footer ul {
    vertical-align: middle;
}
.main-footer .page-listing li {
    display: inline-block;
    position: relative;
}
.main-footer .page-listing li a {
    text-decoration: none;
    color: #a8a8a8;
    padding: 0 15px;
    font-size: 16px;
}
.main-footer .page-listing li a.active {
    color: #212121;
}
.main-footer .page-listing li a:hover {
    color: #16add4;
}
.main-footer .page-listing li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    height: 12px;
    width: 1px;
    background: #7f7f7f;
}
.main-footer .page-listing li:first-child:after,
.main-footer .page-listing li.bd-fix:after,
.main-footer .page-listing li:last-child:after {
    display: none;
}
/*end main-footer*/

/*footer*/
.footer {
    background: #eef5f7;
    padding: 40px 0 30px;
	clear:both;
}
.footer .content > * {
    vertical-align: top;
}
.footer ul,
.footer .dev {
    padding-top: 18px;
}
.footer ul .title {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 700;
}
.footer ul.site-map a,
.footer ul.services a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #212121;
    text-decoration: none;
}
.footer ul.site-map a:hover,
.footer .contacts a:hover,
.footer ul.services a:hover {
    text-decoration: underline;
}
.footer .copy-right .logo img {
    margin-left:25px;
}
.footer .copy-right {
    text-align: center;
}
.footer .copy-right .logo {
    display: block;
    margin: 0 auto;
}
.footer .copy-right p {
    margin: 18px 0 25px;
    color: #a8a8a8;
    font-size: 14px;
}
.footer .copy-right .social a {
    margin-right: 20px;
    vertical-align: middle;
}
.footer .copy-right .social a:last-child {
    margin-right: 0;
}
.footer .contacts .title {
    text-transform: uppercase;
}
.footer .contacts a {
    display: inline-block;
    font-size: 16px;
    color: #212121;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer .contacts li:last-child a {
    font-size: 14px;
}
.footer .dev {
    font-size: 14px;
    line-height: 170%;
}
/*end footer*/

/*header*/
.header {
    background: url('../images/header-bg.jpg') no-repeat center;
    height: 480px;
    position: relative;
}
.header .content {
    padding: 0 0 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(22, 173, 212, 0.65);
    min-height: 200px;
    color: #ffffff;
}
.header .clinic-name {
    overflow: hidden;
}
.header .clinic-name:after {
    content: '';
    display: block;
    clear: both;
}
.header .clinic-name img {
    float: left;
    margin-right: 20px;
}
.header .clinic-name h2, .header .clinic-name h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 25px 0 15px;
}
.header .clinic-name .raring > * {
    display: inline-block;
    vertical-align: top;
}
.header .clinic-name .raring .desc {
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    padding-top: 2px;
}
.header .clinic-desc {
    margin: 15px 0 0 30px;
    width: 695px;
    padding-right: 60px;
    position: relative;
}
.header .clinic-desc:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 61px;
    background: #abdce8;
}
.header .clinic-desc p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 9px;
}
.header .clinic-desc p:last-child {
    margin-bottom: 0;
}
.header .clinic-desc p span {
    width: 665px;
    line-height: 110%;
}
.header .clinic-desc p i,
.header .clinic-desc p span {
    display: inline-block;
    vertical-align: middle;
}
.header .clinic-desc .service i {
    margin-right: 13px;
}
.header .clinic-desc .city span {
    display: inline;
    cursor: pointer;
    border-bottom: 1px dotted #ffffff;
}
.header .clinic-desc .city span:hover {
    border-bottom: none;
}
.header .clinic-desc .city i {
    margin-right: 14px;
}
.header .clinic-desc .price i {
    margin-right: 12px;
}
.header .callback {
    margin-top: 15px;
    margin-right: 100px;
    text-align: center;
    float: right;
}
.header .callback p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.header .callback button {
    width: 198px;
    height: 30px;
    background: #ffffff;
    font-size: 14px;
    color: #22b1d6;
    border-radius: 3px;
}
.header .callback button:hover {
    background: #d4f5fe;
}
.header .add-favorites {
    position: absolute;
    top: 29px;
    right: 20px;
    font-size: 13px;
    cursor: pointer;
}
.header .add-favorites:hover span {
    text-decoration: underline;
}
.header .add-favorites i,
.header .add-favorites span {
    display: inline-block;
    vertical-align: middle;
}
.header .add-favorites span {
    margin-left: 13px;
}
/*end header*/

/*page-nav*/
.page-nav {
    height: 40px;
    line-height: 40px;
}
.page-nav ul {
    background: #22b1d6;
    padding-left: 30px;
}
.page-nav ul.scrolled {
    position: fixed;
    top:0;
    z-index: 999;
    width: 1140px;
}
.page-nav ul li {
    display: inline-block;
    margin-right: 55px;
}
.page-nav ul li:last-child{
    float: right;
    margin-right: 15px;
}
.page-nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}
.page-nav ul li a:hover {
    text-decoration: underline;
}
/*end page-nav*/

/*about-us*/
.about-us {
    overflow: hidden;
    margin-top: 48px;
}
.about-us .left-block {
    float: left;
    width: 780px;
}
.about-us .left-block h2 {
    margin-bottom: 50px;
}
.about-us .left-block p {
    font-size: 14px;
    color: #505050;
    line-height: 150%;
}
.about-us .left-block p.mb-fix {
    margin-bottom: 30px;
}
.about-us .left-block .social {
    margin-top: 20px;
}
.about-us .left-block .social a {
    margin-right: 8px;
}
.about-us .ratings {
    float: right;
    width: 275px;
}
.about-us .ratings h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 55px;
}
.about-us .ratings ul li {
    margin-bottom: 18px;
}
.about-us .ratings ul li strong,
.about-us .ratings ul li span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #505050;
}
.about-us .ratings ul li .name {
    width: 175px;
}
.about-us .ratings ul li strong {
    font-weight: 600;
}
/*end about-us*/

/*service-price*/
.service-price {
    margin-top: 75px;
	margin-bottom: 50px;
}
.service-price .currency-listing li {
    display: inline-block;
    position: relative;
    padding-right: 18px;
    margin-right: 18px;
}
.service-price .currency-listing li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.service-price .currency-listing li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1px;
    height: 14px;
    background: #7f7f7f;
}
.service-price .currency-listing li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #212121;
}
.service-price .currency-listing li a:hover {
    text-decoration: underline;
}
.service-price .currency-listing li.active a {
    color: #22b1d6;
    font-weight: 600;
}
.service-price .accordion {
    margin-top: 27px;
}
.service-price .accordion .item {
    border-bottom: 1px solid #eef5f7;
}
.service-price .accordion .item.open .title {
    background: #eef5f7;
}
.service-price .accordion .item.close .item-content {
    display: none;
}
.service-price .accordion .item .title {
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #22b1d6;
    font-weight: 600;
    padding-left: 20px;
}
.service-price .accordion .item .title i,
.service-price .accordion .item .title span {
    display: inline-block;
    vertical-align: middle;
}
.service-price .accordion .item .title i {
    margin-right: 9px;
}
.service-price .accordion .item-content {
    padding: 40px 0 40px 30px;
}
.service-price .accordion .item-content p {
    font-size: 14px;
    color: #505050;
    line-height: 160%;
    margin-bottom: 30px;
}
.service-price .accordion .item-content ul li {
    margin-bottom: 15px;
}
.service-price .accordion .item-content ul li:last-child {
    margin-bottom: 0;
}
.service-price .accordion .item-content ul li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 120%;
}
.service-price .accordion .item-content ul li .name {
    width: 510px;
    font-size: 12px;
    text-shadow: 0 0 0 #212121;
    margin-right: 60px;
}
.service-price .accordion .item-content ul li .price {
    font-size: 12px;
    font-weight: 700;
}
/*end service-price*/

/*clinic-doctors*/
.clinic-doctors {
    margin-top: 50px;
	margin-bottom: 50px;
}
.clinic-doctors .spacer {
    max-height:646px;
    overflow:hidden;
}
.clinic-doctors h2 {
    margin-bottom: 35px;
}
.clinic-doctors .item {
    text-align: center;
    margin-bottom: 40px;
    width: 270px;
	vertical-align: top;
}
.clinic-doctors .item .name {
    margin: 16px 0 2px;
    font-size: 16px;
    font-weight: 600;
}
.clinic-doctors .item .service {
    font-size: 13px;
    color: #505050;
    margin-bottom: 8px;
}
.clinic-doctors .item .desc {
    font-size: 13px;
    line-height: 130%;
}
.clinic-doctors button {
    display: block;
    margin: 20px auto 0;
    width: 216px;
    height: 28px;
    background: none;
    border-radius: 3px;
    border: 1px solid #eb8039;
    font-size: 14px;
    color: #eb8039;
}
.clinic-doctors button:hover {
    background: rgba(235, 128, 57, 0.07);
}
/*end clinic-doctors*/

/*gallery*/
.gallery {
    margin-bottom: 50px;
}
.gallery h2 {
    margin-bottom: 35px;
}
.gallery .slider li {
    text-align: left;
}
.gallery .slider li a {
    display: inline-block !important;
    margin-bottom: 30px;
    margin-left: 25px;
}
.gallery .slider li a:first-child{
    margin-left: 0;
}
.gallery .slider li img {
    margin: 0px;
}
.gallery .slider-control {
    text-align: center;
    margin-top: 12px;
}
.gallery .slider-control span {
    display: inline-block;
    vertical-align: middle;
    background: url('../images/slider-arrows.png') no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.gallery .slider-control span.next {
    background-position: 0 -30px;
    margin-left: 29px;
}
.slider-control span a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}
.bx-wrapper {
    margin: 0 auto !important;
}
.bx-pager {
    display: none;
}
.slider-img {
    margin-top: 148px;
}
.slider-img li {
    display: block;
    width: 170px;
    height: 148px;
}
.slider-img li img {
    width: 65px;
    height: 65px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-32.5px 0 0 -32.5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.slider-img li.active img {
    width: 170px;
    height: 170px;
    margin:-85px 0 0 -85px;
}
/*end gallery*/

/*video*/
.video {
    background: url('../images/video-bg.jpg') no-repeat center;
    position: relative;
    height: 425px;
	text-align: center;
}
.video .video-play {
    width: 280px;
    cursor: pointer;
    height: 50px;
}
.video .video-play:hover .text {
    color: #e6e6e6;
}
.video .video-play span {
    display: inline-block;
    vertical-align: middle;
}
.video .video-play .icon-wrap {
    width: 72px;
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    margin-right: 18px;
}
.video .video-play .text {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.video .video-play .icon-wrap i {
    position: absolute;
    top: 12px;
    right: 22px;
}
/*end video*/

/*review*/
.review {
    background: url('../images/reviews-bg.jpg') no-repeat center;
    height: 550px;
    overflow: hidden;
}
.review .left-block {
    position: relative;
    float: left;
    width: 170px;
    height: 480px;
    margin: 35px 60px 0  100px;
}
.review .left-block .bx-viewport {
    padding: 170px 0;
}
.review .slider-control span {
    position: absolute;
    background: url('../images/slider-arrows.png') no-repeat 0 -60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    left: 0; right: 0; top: 0;
    margin: 0 auto;
}
.review .slider-control span.next {
    background-position: 0 -90px;
    top: auto; bottom: 0;
}
.review .slider {
    width: 100%;
    text-align: center;
}
.review .slider li {
    margin-bottom: 0px;
}
.review .slider li img {
    border-radius: 50%;
}
.review .slider li:last-child {
    margin-bottom: 0;
}
.review h2 {
    float: left;
    padding-left: 70px;
    padding-top: 60px;
    font-size: 35px;
}
.review .rev-text {
    float: left;
    margin-top: 90px;
    overflow: hidden;
    width: 675px;
}
.review .rev-text .date {
    margin-bottom: 6px;
    font-size: 11px;
}
.review .rev-text .name {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 45px;
}
.review .rev-text .text {
    font-size: 15px;
    line-height: 125%;
}
.review .rev-text .rating {
    padding-top: 22px;
    min-height: 25px;
    font-size: 18px;
}
.review .rev-text .rating em {
    font-weight: 300;
}
.review .rev-text .rating strong {
    color: #f1660a;
    font-weight: 600;
}
/*end review*/

/*form-block*/
.form-block {
    padding: 50px 0 55px;
    background: #22b1d6;
    color: #ffffff;
}
.form-block .content {
    padding: 0 115px;
    width: 970px;
}
.form-block .error {
    font-size: 14px;
    color: black;
    margin-bottom: 13px;
}
.form-block h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    margin-bottom: 40px;
}
.form-block textarea:-moz-placeholder {
    color: #ffffff;
}
.form-block textarea::-webkit-input-placeholder {
    color: #ffffff;
}
.form-block input:-moz-placeholder {
    color: #ffffff;
}
.form-block input::-webkit-input-placeholder {
    color: #ffffff;
}
.form-block textarea {
    resize: none;
    float: right;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 25px;
    width: 568px;
    height: 178px;
    border: 1px solid #ffffff;
    outline: none;
}
.form-block input {
    width: 338px;
    height: 38px;
    background: none;
    border: 1px solid #ffffff;
    margin-bottom: 27px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 30px;
}
.form-block .form-footer {
    margin-top: 28px;
}
.form-block .form-footer > * {
    vertical-align: middle;
    display: inline-block;
}
.form-block .form-footer .add-service {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.form-block .form-footer .add-service i,
.form-block .form-footer .add-service span {
    display: inline-block;
    vertical-align: middle;
}
.form-block .form-footer .add-service span {
    margin-left: 10px;
}
.form-block .form-footer button, .bottom-box a.btn, .filter button {
    width: 250px;
    height: 40px;
    margin: 0 25px 0 65px;
    border-radius: 3px;
    background: #ffffff;
    font-size: 15px;
    color: #16add4;
}
.filter button {
    float:left;
    margin:0px;
    width:130px;
}
.filter button:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: none;
}
.form-block .form-footer button:hover, .bottom-box a.btn:hover {
    width: 250px;
    height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: none;
}
.form-block .form-footer .privacy {
    font-size: 12px;
    line-height: 130%;
    color: #98d8e8;
}
.form-block .add-services {
    margin-top: 25px;
    display: none;
}
.form-block .add-services.open {
    display: block;
}
.form-block .add-services p {
    margin-bottom: 10px;
}
.form-block .add-services ul li {
    list-style: initial;
    list-style-position: inside;
}
/*end form-block*/

/*map-wrap*/
.map-wrap {
    height: 450px;
    position: relative;
}
#map {
    height: 450px;
    width: 100%;
    min-width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
}
.map-wrap .contacts {
    position: relative;
    z-index: 1;
    width: 320px;
    height: 450px;
    background: rgba(255, 255, 255, 0.85);
    overflow: hidden;
    padding-left: 50px;
}
.map-wrap .contacts h2 {
    margin: 30px 0 35px;
}
.map-wrap .contacts ul li {
    margin-bottom: 20px;
    font-size: 16px;
}
.map-wrap .contacts ul li .name {
    margin-bottom: 20px;
}
.map-wrap .contacts ul li .desc {
    line-height: 110%;
    font-weight: 600;
}
.map-wrap .contacts ul li:last-child {
    margin-bottom: 0;
}
/*end map-wrap*/

/*viewed*/
.viewed {
    padding-bottom: 30px;
}
.viewed h2 {
    margin: 48px 0 30px;
}
.viewed .item {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
}
.viewed .item:nth-child(4n) {
    margin-right: 0;
}
.viewed .item .item-raring > * {
    display: inline-block;
    vertical-align: bottom;
}
.viewed .item .item-raring .desc {
    font-size: 13px;
    color: #eb8039;
    margin-left: 10px;
}
/*end viewed*/
.top-bg {
    height:770px;
    background:url(../images/header-bg-main-page.jpg) no-repeat top center;
    position:relative;
    max-width:1920px;
    overflow:hidden;
    margin:0px auto;
}
.top-bg .nav {
    background:none;
}
.top-bg .nav ul.spacer { text-align:left; }
.top-bg .nav ul.spacer li a { padding:0 10px; }
.top-bg .nav ul li a, .top-bg .nav .language span.active, .top-bg .nav .authorization {
    color:#fff;
}
.top-bg .nav .language:after {
    background:#fff;
}
.top-bg .hdr {
    font-size:50px;
    color:#fff;
    margin-top:135px;
    margin-bottom:30px;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
}
.top-bg .text {
    white-space:pre-line;
    font-size:16px;
    color:#fff;
    text-align:center;
    font-weight:600;
    line-height:27px;
}
.top-bg a.btn, .branches .btn {
    width:250px;
    height:45px;
    background:#eb8039;
    margin:110px auto 0px auto;
    color:#fff;
    display:block;
    font-size:15px;
    line-height:45px;
    text-decoration:none;
    text-align:center;
}
.top-bg a.btn:hover, .branches .btn:hover {
    background:#BD6830;
}
.justify {
    text-align:justify;
}
.justify:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.top-bg .number-box {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    background:rgba(55,140,95,0.8);
    height:170px;
}
.top-bg .number-box .items {
    padding:33px 85px 0px 85px;
}
.top-bg .number-box .item {
    color:#fff;
    font-size:23px;
    text-align:center;
    font-weight:600;
    display:inline-block;
    vertical-align:top;
}
.top-bg .number-box .item b {
    font-size:70px;
    display:block;
    margin-bottom:10px;
}
.filter .hdr {
    color:#fff;
    font-size:25px;
    text-align:center;
    font-weight:600;
    margin-bottom:30px;
}
.filter.search-box .search {
    width:970px;
    margin:0px auto;
    float:inherit;
}
.filter.search-box input[type=text] {
    width:681px;
}
.filter.search-box .search-btn {
    width:240px;
    line-height:38px;
    color:#16add4;
    font-size:15px;
    text-align:center;
    padding-left:10px;
}
.filter.search-box .search-btn .icon {
    left:45px;
    right:inherit;
}
.filter.search-box .example {
    font-size:14px;
    color:#d2d2d2;
    margin-top:18px;
}
.filter.search-box .example b {
    color:#fff;
    text-decoration:underline;
    cursor: pointer;
}
.clear {
    clear:both;
}
.best-box {
    padding-top:70px;
    background:#eef5f7;
    margin-bottom:50px;
}
.best-box .content {
    position:relative;
    padding-bottom:50px;
}
.best-box h2 {
    text-align:center;
    font-size:35px;
    margin-bottom:65px;
}
.col-left {
    float:left;
}
.col-right {
    float:right;
}
.best-box .text p {
    margin-bottom: 10px;
}
.best-box .text.col-left {
    width:580px;
    font-size:14px;
    line-height:24px;
}
.best-box .text.col-right {
    width:550px;
    font-size:14px;
    line-height:24px;
}
.best-box .clinics-listing .item-vip .item-content {
    padding-right:40px;
}
.best-box .clinics-listing .item-vip a.btn {
    margin-top:26px;
}
.best-box .clinics-listing {
    position:absolute;
    bottom:-212px;
    left:15px;
    right:15px;
}
.clinics-listing .sticker {
    width:208px;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
    font-weight:600;
    position:absolute;
    top:0px;
    left:350px;
    z-index:2;
    background:#f1660a;
}
.top-box {
    padding-bottom:60px;
}
.top-box h2 {
    text-align:center;
    color:#f1660a;
    font-size:35px;
    font-weight:600;
    margin-bottom:50px;
}
.top-box .box.big .item {
    width:470px;
    height:670px;
}
.top-box .box .item {
    overflow:hidden;
    width:320px;
    height:320px;
    margin-bottom:30px;
    position:relative;
}
.top-box .box.group {
    width:670px;
}
.top-box .info {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background:rgba(0,0,0,0.4);
    color:#fff;
    padding-top:80px;
    padding-left:40px;
}
.top-box .info a.btn {
    margin-top:40px;
}
.top-box .sticker {
    width:128px;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
    font-weight:600;
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    background:#f1660a;
}
.top-box .box.big .info {
    position:absolute;
    top:inherit;
    bottom:0px;
    left:0px;
    right:0px;
    height:160px;
    background:rgba(0,0,0,0.4);
    color:#fff;
    padding-top:30px;
    padding-left:40px;
}
.top-box .box.big .sticker {
    top:-50px;
}
.top-box .box.big .info a.btn {
    margin-top:40px;
    position:absolute;
    margin-top:0px;
    right:30px;
    bottom:37px;
}
.top-box a.btn.more-clinic {
    width:312px;
    height:45px;
    display:block;
    margin:20px auto 0px auto;
    color:#fff;
    line-height:45px;
    text-align:center;
    font-size:15px;
    background:#f1660a;
    text-decoration:none;
}
.top-box a.btn.more-clinic:hover {
    background:#BD540F;
}
.review.bg-2 {
    background:url(../images/reviews-bg-2.jpg) no-repeat center;
    color:#fff;
}
.review.bg-2 .slider-control span {
    position: absolute;
    background: url('../images/slider-arrows-white.png') no-repeat 0 -60px;
}
.review.bg-2 .slider-control span.next {
    background-position: 0 -90px;
}
.about-service {
    padding:55px 0px 65px 0px;
}
.about-service h2, .how-we-work h2 {
    font-size:35px;
    font-weight:600;
    text-align:center;
    margin-bottom:48px;
}
.about-service p {
    white-space:pre-line;
    font-size:14px;
    line-height:24px;
    color:#505050;
    margin-bottom:67px;
    text-align:center;
}
.about-service .item {
    width:270px;
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    font-weight:600;
    text-align:center;
}
.about-service .item .img {
    width:270px;
    height:180px;
    overflow:hidden;
    margin-bottom:15px;
}
.about-service h3 {
    text-align:center;
    white-space:pre-line;
    font-size:25px;
    font-weight:600;
    margin:63px 0px 48px 0px;
}
.how-we-work {
    padding:65px 0px 70px 0px;
    background:#eef5f7;
}
.how-we-work .item {
    width:270px;
    display:inline-block;
    vertical-align:top;
    margin-top:40px;
}
.how-we-work .item .icon {
    height:58px;
    margin-bottom:15px;
    background-repeat:no-repeat;
    background-position:top center;
    width:270px;
}
.how-we-work .item.i1 .icon {
    background-image:url(../images/how-we-work-icon-1.png);
}
.how-we-work .item.i2 .icon {
    background-image:url(../images/how-we-work-icon-2.png);
}
.how-we-work .item.i3 .icon {
    background-image:url(../images/how-we-work-icon-3.png);
}
.how-we-work .item.i4 .icon {
    background-image:url(../images/how-we-work-icon-4.png);
}
.how-we-work .item .text {
    text-align:center;
    font-size:14px;
    line-height:24px;
    color:#505050;
    white-space:pre-line;
}
.bottom-box {
    padding:70px 0px 70px 0px;
    background:#16add4;
    color:#fff;
    margin-bottom:165px;
}
.bottom-box .text {
    width:570px;
    text-align:right;
    font-size:25px;
    font-weight:300;
    margin-right:70px;
    line-height:35px;
}
.bottom-box .text b {
    display:block;
    font-weight:600;
}
.bottom-box .content a.btn {
    margin:15px 0px 0px 0px;
    height:45px;
    line-height:45px;
    text-decoration:none;
    text-align:center;
}
.advantage {
    padding:80px 0px 160px 0px;
}
.advantage h2 {
    text-align:center;
    font-weight:600;
    font-size:35px;
    margin-bottom:70px;
}
.advantage .text-box {
    width:570px;
    white-space:pre-line;
    font-size:14px;
    color:#505050;
    line-height:24px;
}
.advantage .text-box b {
    font-size:17px;
    color:#212121;
    font-weight:600;
}
.advantage .text-box span {
    margin-left:20px;
    display:inline-block;
    vertical-align:top;
}
.advantage .text-box ul {
    list-style:disc;
    list-style-position:inside;
    white-space:normal;
    margin-top:25px;
    margin-left:20px;
}
.branches {
    padding:60px 0px 60px 0px;
}
.branches h2 {
    text-align:center;
    margin-bottom:60px;
}
.branches .item {
    width:270px;
    display:inline-block;
    vertical-align:top;
}
.branches .item .h {
    font-size:20px;
    font-weight:600;
    text-transform:uppercase;
    margin-bottom:25px;
    line-height:37px;
}
.branches .item .h span {
    background-repeat:no-repeat;
    background-position:right center;
    display:inline-block;
    vertical-align:top;
    width:70px;
    margin-right:25px;
    height:37px;
}
.branches .item.i1 .h, .branches .item.i1 input[type="checkbox"]:checked + label {
    color:#bebebe;
}
.branches .item.i2 .h, .branches .item.i2 input[type="checkbox"]:checked + label {
    color:#16add4;
}
.branches .item.i3 .h, .branches .item.i3 input[type="checkbox"]:checked + label {
    color:#eb8039;
}
.branches .item.i4 .h, .branches .item.i4 input[type="checkbox"]:checked + label {
    color:#4d906a;
}
.branches .item.i1 .h span {
    background-image:url(../images/branches-icon-1.png);
}
.branches .item.i2 .h span {
    background-image:url(../images/branches-icon-2.png);
}
.branches .item.i3 .h span {
    background-image:url(../images/branches-icon-3.png);
}
.branches .item.i4 .h span {
    background-image:url(../images/branches-icon-4.png);
}
.branches .box {
    margin-bottom:10px;
    margin-left:75px;
}
.branches input[type=checkbox] {
    position: absolute;
    left: -9999px;
}
.branches input[type="checkbox"] {
    margin-top:5px;
}
.branches input[type="checkbox"] + label {
    padding-left: 20px;
    background-repeat:no-repeat;
    background-position-y: 8px;
    cursor:pointer;
    font-size:15px;
}
.branches input[type="checkbox"]:checked + label {
    background-image:url(../images/branches-check.png);
}
.branches .btn {
    margin-top:23px;
}
/*.chosen-container-multi {
    height: 30px !important;
}*/
.chosen-container-multi:after {
    background: url('../images/icons-sprite.png') no-repeat;
    display: inline-block;
    width: 11px;
    height: 7px;
    content: '';
    position: absolute;
    top: 17px;
    right: 17px;
}
.chosen-container-multi .chosen-choices {
    border: 1px solid #fff !important;
    padding: 4px 35px 4px 20px !important;
    height: 30px !important;
    background-image: none !important;
    box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-field {
    height: 30px !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 30px !important;
    color: #16add4 !important;
    font-size: 16px !important;
    font-family: 'Open Sans' !important;
    line-height: normal !important;
}
.chosen-container .chosen-drop {
    border: 1px solid #fff !important;
}
.chosen-container-multi .chosen-choices li.search-choice {
    padding: 5px 20px 5px 5px !important;
    background: #16add4 !important;
    border: none !important;
    color: #fff !important;
    box-shadow: none !important;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 5px !important;
    background: url(../images/delete.png) no-repeat center !important;
}
.chosen-container.chosen-with-drop .chosen-drop {
    border-top: 1px solid #f2f2f2 !important;
}
.chosen-container .chosen-results li:hover {
    background: #16add4 !important;
    color: #fff !important;
}
/***************myEdit********************/

.konsButton{
	width: 198px;
  height: 30px;
  background-color: #ffffff;
  font-size: 14px;
  color: #22b1d6;
  border-radius: 3px;
  z-index: 999999999;
	margin-top: 5px;
  border: 1px solid #22b1d6;
}
